body {
  max-width: 320px;
  margin: auto;
  color: #fff;
}

img {
  display: block;
  max-width: 50%;
}

main {
  background-color: #000;
}

h1 {
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #0c503d;
  padding: 0 20px;
  position: sticky;
  top: 0;
  color: #000;
}

.profile-picture {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.chatbox-container {
  display: flex;
  flex-direction: column;
}

.message-box {
  font-size: 12px;
}

.message-box-girl {
  text-align: end;
}

.message-time {
  margin: 0 0 3px 0 ;
  padding: 0 5px 5px 5px;
}

.message-content {
  margin: 0 0 5px 0;
  padding: 10px 15px;
  background-color: #073226;
}

button {
  background-color: #073226;
  box-shadow: none;
}

footer {
  position: sticky;
  bottom: 0;
}